################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj

# ignore uploaded file
/wwwroot/Cantact/DownloadFile
/wwwroot/CrmTicketsFiles
/wwwroot/CrmOrderFiles
